<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Get strt</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <ion-img src="../../../assets/vote.png" alt="logo" class="logo"></ion-img>
    <ion-title class="title" size="large" style="font-weight: bold;">Registrarse</ion-title>
  </div>

  <form [formGroup]="ionicForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input class="input" formControlName="fullname" placeholder="Nombre completo" />
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div class="errordiv" *ngIf="this.ionicForm.controls?.['fullname'].touched && this.ionicForm.controls?.['fullname'].invalid">
        <ion-text class="errorInput" class="errorInput" *ngIf="errorControl.fullname.errors?.required" class="errorInput" color="danger">Por favor ingrese su
          nombre.</ion-text>
      </div>

      <ion-item>
        <ion-input class="input" formControlName="email" placeholder="Digite su correo electrónico" />
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-item>
      <div class="errordiv" *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
        <ion-text class="errorInput" *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Por favor ingrese su
          correo electrónico</ion-text>
        <ion-text class="errorInput" *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Ingrese un correo
          electrónico válido</ion-text>
      </div>

      <ion-item>
        <ion-input [type]="showPassword ? 'text' : 'password'" class="input" type="password" formControlName="password" placeholder="Digite su contraseña" class="input"/>
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
        <!-- <ion-button (click)="togglePassword()" fill="clear" slot="end">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button> -->
      </ion-item>
      <div class="errordiv" *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
        <ion-text class="errorInput" *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Ingrese su
          contraseña</ion-text>
        <ion-text class="errorInput" *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Su contraseña debería
          tener al menos 8 digitos, una letra minúscula y mayúscula, y al menos un número.
        </ion-text>
      </div>

      <ion-item>
        <ion-input class="input" type="numeric" formControlName="contact" placeholder="Ingrese su número de celular" />
        <ion-icon slot="end" name="call-outline"></ion-icon>
      </ion-item>
      <div class="errordiv" *ngIf="this.ionicForm.controls?.['contact'].touched && this.ionicForm.controls?.['contact'].invalid">
        <ion-text class="errorInput" *ngIf="errorControl.contact.errors?.required" class="errorInput" color="danger">Su número telefónico
          es requerido.</ion-text>
        <ion-text class="errorInput" *ngIf="errorControl.contact.errors?.pattern" class="errorInput" color="danger">Dbería contener solo
          números.</ion-text>
        <ion-text class="errorInput" *ngIf="errorControl.contact.errors?.minlength" class="errorInput" color="danger">Debería tener al
          menos 10 dígitos.</ion-text>

      </div>

      <div class="btn">
        <button (click)="signUP()" class="btn__content">
          Registrarse
        </button>
      </div>
      <div class="loginLink">
        <p class="p">Ya eres miembro? <a [routerLink]="['/login']" style="color: #247FBB">Iniciar Sesión</a></p>
      </div>
    </div>
  </form>
</ion-content>