<ion-content [fullscreen]="true">

  <a href="/login" style="
    position: absolute; 
    top: 30px; 
    left: 30px; 
  ">
    <ion-icon name="chevron-back-outline" size="large" color="primary"></ion-icon>
  </a>

  <div class="header">
    <ion-title class="title">Olvidé mi contraseña
    </ion-title>
    <p class="subtitle">Escribe el correo registrado en tu
      cuenta para recibir instrucciones y
      reestablecer tu contraseña</p>
  </div>
  <div class="ion-padding">

    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="Digita tu correo" class="input" />
    </ion-item>

    <div class="btn">
      <button type="submit" (click)="reset()" class="btn__content">
        Recuperar contraseña
      </button>
    </div>

    <!-- <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()">Send</ion-button> -->
  </div>

</ion-content>